<div class="tw-h-[100vh] tw-pt-[10vh] tw-bg-slate-100">
    <div
    class="tw-relative tw-mx-auto tw-w-full tw-max-w-md tw-bg-white tw-px-6 tw-pt-10 tw-pb-8 tw-shadow-xl tw-ring-1 tw-ring-gray-900/5 sm:tw-rounded-xl sm:tw-px-10">
    <div class="tw-w-full">
        <div class="tw-text-center">
            <h1 class="tw-text-3xl tw-font-semibold tw-text-gray-900">Password Reset</h1>
            <p class="tw-mt-2 tw-text-gray-500">Fill the following from to reset password</p>
        </div>
        <div class="tw-mt-5">
            <form>
                <div class="tw-relative tw-mt-6">
                    <input type="email" name="email" id="email" placeholder="Email Address"
                        class="tw-peer tw-mt-1 tw-w-full tw-border-b-2 tw-border-gray-300 tw-px-0 tw-py-1 placeholder:tw-text-transparent focus:tw-border-gray-500 focus:tw-outline-none"
                        autocomplete="NA" />
                    <label for="email"
                        class="tw-pointer-events-none tw-absolute tw-top-0 tw-left-0 tw-origin-left tw-translate-y-1/2 tw-transform tw-text-sm tw-text-gray-800 tw-opacity-75 tw-transition-all tw-duration-100 tw-ease-in-out tw-peer-placeholder-shown:tw-top-1/2 peer-placeholder-shown:tw-text-base peer-placeholder-shown:tw-text-gray-500 peer-focus:tw-top-0 peer-focus:tw-pl-0 peer-focus:tw-text-sm peer-focus:tw-text-gray-800">Email
                        Address</label>
                </div>
                <div class="tw-relative tw-mt-6">
                    <input type="password" name="email" id="email" placeholder="Email Address"
                        class="tw-peer tw-mt-1 tw-w-full tw-border-b-2 tw-border-gray-300 tw-px-0 tw-py-1 placeholder:tw-text-transparent focus:tw-border-gray-500 focus:tw-outline-none"
                        autocomplete="NA" />
                    <label for="password"
                        class="tw-pointer-events-none tw-absolute tw-top-0 tw-left-0 tw-origin-left tw-translate-y-1/2 tw-transform tw-text-sm tw-text-gray-800 tw-opacity-75 tw-transition-all tw-duration-100 tw-ease-in-out tw-peer-placeholder-shown:tw-top-1/2 peer-placeholder-shown:tw-text-base peer-placeholder-shown:tw-text-gray-500 peer-focus:tw-top-0 peer-focus:tw-pl-0 peer-focus:tw-text-sm peer-focus:tw-text-gray-800">password
                        </label>
                </div>
                <div class="tw-relative tw-mt-6">
                    <input type="password" name="email" id="email" placeholder="Email Address"
                        class="tw-peer tw-mt-1 tw-w-full tw-border-b-2 tw-border-gray-300 tw-px-0 tw-py-1 placeholder:tw-text-transparent focus:tw-border-gray-500 focus:tw-outline-none"
                        autocomplete="NA" />
                    <label for="password"
                        class="tw-pointer-events-none tw-absolute tw-top-0 tw-left-0 tw-origin-left tw-translate-y-1/2 tw-transform tw-text-sm tw-text-gray-800 tw-opacity-75 tw-transition-all tw-duration-100 tw-ease-in-out tw-peer-placeholder-shown:tw-top-1/2 peer-placeholder-shown:tw-text-base peer-placeholder-shown:tw-text-gray-500 peer-focus:tw-top-0 peer-focus:tw-pl-0 peer-focus:tw-text-sm peer-focus:tw-text-gray-800">confirm password
                        </label>
                </div>
                <div class="tw-my-6">
                    <button type="submit"
                        class="tw-w-full tw-rounded-md tw-bg-black tw-px-3 tw-py-4 tw-text-white focus:tw-bg-gray-600 focus:tw-outline-none hover:tw-bg-slate-900">Reset</button>
                </div>
                <p class="tw-text-center tw-text-sm tw-text-gray-500">Do you remember it now ?
                    <a routerLink="/login"
                        class="tw-font-semibold tw-text-gray-600 hover:tw-underline focus:tw-text-gray-800 focus:tw-outline-none">Login
                    </a>.
                </p>
            </form>
        </div>
    </div>
</div>
</div>