<div class="tw-bg-green-700 tw-h-[100vh] tw-w-[100vw]">
    <div class="tw-flex tw-justify-center tw-align-middle tw-pt-[15vh]">
        <div class="box">
            <div class="tw-w-full tw-w-xs">
                <form>
                    <div class="tw-mb-4">
                        <label class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2" for="username">
                            Email
                        </label>
                        <input class="login-input" id="username" type="text">
                    </div>
                    <div class="mb-6">
                        <label class="tw-block tw-text-gray-700 tw-text-sm tw-font-bold tw-mb-2" for="password">
                            Password
                        </label>
                        <input class="login-input" id="password" type="password">
                    </div>
                    <div class="tw-flex tw-flex-col tw-items-center tw-justify-between">
                        <button class="login-button" type="button">
                            Sign In
                        </button>
                        <a class="tw-inline-block tw-align-baseline tw-font-bold tw-text-sm tw-text-blue-500 hover:tw-text-blue-800"
                            routerLink="/forgot-password">
                            Forgot Password?
                        </a>
                        <a class="tw-inline-block tw-align-baseline tw-font-bold tw-text-sm tw-text-blue-500 hover:tw-text-blue-800"
                            routerLink="/sign-in">
                            Not a user yet ?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>